# Ingestão e limpeza
pandas==2.2.2
requests==2.32.3
openpyxl==3.1.2

# Warehouse local
duckdb==0.10.3

# dbt — transformações (coração do Analytics Engineer)
dbt-core==1.8.4
dbt-duckdb==1.8.1

# Dashboard
streamlit==1.35.0
plotly==5.22.0
